<div class="toolbar-extention"></div>
<div class="timetable">
  <div class="header">
    <p>Wochenansicht</p>
  </div>
  <div class="body">
    <table>
      <tr class="table-header">
        <th></th>
        <th>MO</th>
        <th>DI</th>
        <th>MI</th>
        <th>DO</th>
        <th>FR</th>
      </tr>
      <tr>
        <th>1.</th>
        <td>
          <div class="lesson">
            <p class="subject">D</p>
            <p class="teacher">VO</p>
            <p class="room">R109</p>
          </div>
        </td>
        <td>
          <div class="lesson">
            <p class="subject">D</p>
            <p class="teacher">VO</p>
            <p class="room">R109</p>
          </div>
        </td>
        <td>
          <div class="lesson">
            <p class="subject">D</p>
            <p class="teacher">VO</p>
            <p class="room">R109</p>
          </div>
        </td>
        <td>
          <div class="lesson">
            <p class="subject">D</p>
            <p class="teacher">VO</p>
            <p class="room">R109</p>
          </div>
        </td>
        <td>
          <div class="lesson">
            <p class="subject">D</p>
            <p class="teacher">VO</p>
            <p class="room">R109</p>
          </div>
        </td>
      </tr>
      <tr>
        <th>1.<br />7:55<br /><br />9:05</th>
        <td>
          <div class="lesson">
            <p class="subject">D</p>
            <p class="teacher">VO</p>
            <p class="room">R109</p>
          </div>
        </td>
        <td>
          <div class="lesson">
            <p class="subject">D</p>
            <p class="teacher">VO</p>
            <p class="room">R109</p>
          </div>
        </td>
        <td>
          <div class="lesson">
            <p class="subject">D</p>
            <p class="teacher">VO</p>
            <p class="room">R109</p>
          </div>
        </td>
        <td>
          <div class="lesson">
            <p class="subject">D</p>
            <p class="teacher">VO</p>
            <p class="room">R109</p>
          </div>
        </td>
        <td>
          <div class="lesson">
            <p class="subject">D</p>
            <p class="teacher">VO</p>
            <p class="room">R109</p>
          </div>
        </td>
      </tr>
      <tr>
        <th>1.</th>
        <td>
          <div class="lesson">
            <p class="subject">D</p>
            <p class="teacher">VO</p>
            <p class="room">R109</p>
          </div>
        </td>
        <td>
          <div class="lesson">
            <p class="subject">D</p>
            <p class="teacher">VO</p>
            <p class="room">R109</p>
          </div>
        </td>
        <td>
          <div class="lesson">
            <p class="subject">D</p>
            <p class="teacher">VO</p>
            <p class="room">R109</p>
          </div>
        </td>
        <td>
          <div class="lesson">
            <p class="subject">D</p>
            <p class="teacher">VO</p>
            <p class="room">R109</p>
          </div>
        </td>
        <td>
          <div class="lesson">
            <p class="subject">D</p>
            <p class="teacher">VO</p>
            <p class="room">R109</p>
          </div>
        </td>
      </tr>
      <tr>
        <th>1.</th>
        <td>
          <div class="lesson">
            <p class="subject">D</p>
            <p class="teacher">VO</p>
            <p class="room">R109</p>
          </div>
        </td>
        <td>
          <div class="lesson">
            <p class="subject">D</p>
            <p class="teacher">VO</p>
            <p class="room">R109</p>
          </div>
        </td>
        <td>
          <div class="lesson">
            <p class="subject">D</p>
            <p class="teacher">VO</p>
            <p class="room">R109</p>
          </div>
        </td>
        <td>
          <div class="lesson">
            <p class="subject">D</p>
            <p class="teacher">VO</p>
            <p class="room">R109</p>
          </div>
        </td>
        <td>
          <div class="lesson">
            <p class="subject">D</p>
            <p class="teacher">VO</p>
            <p class="room">R109</p>
          </div>
        </td>
      </tr>
      <tr>
        <th>1.</th>
        <td>
          <div class="lesson">
            <p class="subject">D</p>
            <p class="teacher">VO</p>
            <p class="room">R109</p>
          </div>
        </td>
        <td>
          <div class="lesson">
            <p class="subject">D</p>
            <p class="teacher">VO</p>
            <p class="room">R109</p>
          </div>
        </td>
        <td>
          <div class="lesson">
            <p class="subject">D</p>
            <p class="teacher">VO</p>
            <p class="room">R109</p>
          </div>
        </td>
        <td>
          <div class="lesson">
            <p class="subject">D</p>
            <p class="teacher">VO</p>
            <p class="room">R109</p>
          </div>
        </td>
        <td>
          <div class="lesson">
            <p class="subject">D</p>
            <p class="teacher">VO</p>
            <p class="room">R109</p>
          </div>
        </td>
      </tr>
      <tr>
        <th>1.</th>
        <td>
          <div class="lesson">
            <p class="subject">D</p>
            <p class="teacher">VO</p>
            <p class="room">R109</p>
          </div>
        </td>
        <td>
          <div class="lesson">
            <p class="subject">D</p>
            <p class="teacher">VO</p>
            <p class="room">R109</p>
          </div>
        </td>
        <td>
          <div class="lesson">
            <p class="subject">D</p>
            <p class="teacher">VO</p>
            <p class="room">R109</p>
          </div>
        </td>
        <td>
          <div class="lesson">
            <p class="subject">D</p>
            <p class="teacher">VO</p>
            <p class="room">R109</p>
          </div>
        </td>
        <td>
          <div class="lesson">
            <p class="subject">D</p>
            <p class="teacher">VO</p>
            <p class="room">R109</p>
          </div>
        </td>
      </tr>
      <tr>
        <th>1.</th>
        <td>
          <div class="lesson">
            <p class="subject">D</p>
            <p class="teacher">VO</p>
            <p class="room">R109</p>
          </div>
        </td>
        <td>
          <div class="lesson">
            <p class="subject">D</p>
            <p class="teacher">VO</p>
            <p class="room">R109</p>
          </div>
        </td>
        <td>
          <div class="lesson">
            <p class="subject">D</p>
            <p class="teacher">VO</p>
            <p class="room">R109</p>
          </div>
        </td>
        <td>
          <div class="lesson">
            <p class="subject">D</p>
            <p class="teacher">VO</p>
            <p class="room">R109</p>
          </div>
        </td>
        <td>
          <div class="lesson">
            <p class="subject">D</p>
            <p class="teacher">VO</p>
            <p class="room">R109</p>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>
