@import ../../../../../var

.register
    width: 100%
    height: 100%

    p.tagline
        margin: 48px 0
        font-size: 14px
        font-weight: 500
        text-align: center
        color: mat-color($foreground-light, secondary-text)

    .stepper
        background-color: inherit