<div class="admin">
  <mat-action-list class="list">
    <button mat-list-item routerLink="/admin/users">
      <mat-icon matListIcon>person</mat-icon>
      <h4 mat-line>Benutzer</h4>
    </button>
    <button mat-list-item routerLink="/admin/classes">
      <mat-icon matListIcon>class</mat-icon>
      <h4 mat-line>Klassen</h4>
    </button>
    <button mat-list-item routerLink="/admin/calendar">
      <mat-icon matListIcon>event</mat-icon>
      <h4 mat-line>Kalender</h4>
    </button>
  </mat-action-list>
</div>
