<mat-tab-group
  mat-stretch-tabs
  color="primary"
  backgroundColor="primary"
  class="tab-nav mat-typography"
  #tabs
>
  <mat-tab label="Impressum">
    <div class="content imprint">
      <h1>Impressum</h1>
      <h2>Angaben gemäß § 5 TMG</h2>
      <p>
        Dennis Adamczyk<br />
        Hardenbergstraße 24<br />
        47198 Duisburg
      </p>
      <h2>Kontakt</h2>
      <p>
        Telefon: <a href="tel:+4917643811166">+49 176 43811166</a><br />
        E-Mail:
        <a href="mailto:ich@dennis-adamczyk.de">ich@dennis-adamczyk.de</a>
      </p>
      <h2>Haftungsausschluss</h2>
      <h3>Haftung für Inhalte</h3>
      <p>
        Die Inhalte unserer Seiten wurden mit größter Sorgfalt erstellt. Für die
        Richtigkeit, Vollständigkeit und Aktualität der Inhalte können wir
        jedoch keine Gewähr übernehmen. Als Diensteanbieter sind wir gemäß § 7
        Abs.1 TMG für eigene Inhalte auf diesen Seiten nach den allgemeinen
        Gesetzen verantwortlich. Nach §§ 8 bis 10 TMG sind wir als
        Diensteanbieter jedoch nicht verpflichtet, übermittelte oder
        gespeicherte fremde Informationen zu überwachen oder nach Umständen zu
        forschen, die auf eine rechtswidrige Tätigkeit hinweisen.
        Verpflichtungen zur Entfernung oder Sperrung der Nutzung von
        Informationen nach den allgemeinen Gesetzen bleiben hiervon unberührt.
        Eine diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt der
        Kenntnis einer konkreten Rechtsverletzung möglich. Bei Bekanntwerden von
        entsprechenden Rechtsverletzungen werden wir diese Inhalte umgehend
        entfernen.
      </p>
      <h3>Haftung für Links</h3>
      <p>
        Unser Angebot enthält Links zu externen Webseiten Dritter, auf deren
        Inhalte wir keinen Einfluss haben. Deshalb können wir für diese fremden
        Inhalte auch keine Gewähr übernehmen. Für die Inhalte der verlinkten
        Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten
        verantwortlich. Die verlinkten Seiten wurden zum Zeitpunkt der
        Verlinkung auf mögliche Rechtsverstöße überprüft. Rechtswidrige Inhalte
        waren zum Zeitpunkt der Verlinkung nicht erkennbar. Eine permanente
        inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne konkrete
        Anhaltspunkte einer Rechtsverletzung nicht zumutbar. Bei Bekanntwerden
        von Rechtsverletzungen werden wir derartige Links umgehend entfernen.
      </p>
      <h3>Urheberrecht</h3>
      <p>
        Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen
        Seiten unterliegen dem deutschen Urheberrecht. Die Vervielfältigung,
        Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der
        Grenzen des Urheberrechtes bedürfen der schriftlichen Zustimmung des
        jeweiligen Autors bzw. Erstellers. Downloads und Kopien dieser Seite
        sind nur für den privaten, nicht kommerziellen Gebrauch gestattet.
        Soweit die Inhalte auf dieser Seite nicht vom Betreiber erstellt wurden,
        werden die Urheberrechte Dritter beachtet. Insbesondere werden Inhalte
        Dritter als solche gekennzeichnet. Sollten Sie trotzdem auf eine
        Urheberrechtsverletzung aufmerksam werden, bitten wir um einen
        entsprechenden Hinweis. Bei Bekanntwerden von Rechtsverletzungen werden
        wir derartige Inhalte umgehend entfernen.
      </p>
      <h3>Google Analytics</h3>
      <p>
        Diese Website benutzt Google Analytics, einen Webanalysedienst der
        Google Inc. ("Google"). Google Analytics verwendet sog. "Cookies",
        Textdateien, die auf Ihrem Computer gespeichert werden und die eine
        Analyse der Benutzung der Website durch Sie ermöglicht. Die durch den
        Cookie erzeugten Informationen über Ihre Benutzung dieser Website
        (einschließlich Ihrer IP-Adresse) wird an einen Server von Google in den
        USA übertragen und dort gespeichert. Google wird diese Informationen
        benutzen, um Ihre Nutzung der Website auszuwerten, um Reports über die
        Websiteaktivitäten für die Websitebetreiber zusammenzustellen und um
        weitere mit der Websitenutzung und der Internetnutzung verbundene
        Dienstleistungen zu erbringen. Auch wird Google diese Informationen
        gegebenenfalls an Dritte übertragen, sofern dies gesetzlich
        vorgeschrieben oder soweit Dritte diese Daten im Auftrag von Google
        verarbeiten. Google wird in keinem Fall Ihre IP-Adresse mit anderen
        Daten der Google in Verbindung bringen. Sie können die Installation der
        Cookies durch eine entsprechende Einstellung Ihrer Browser Software
        verhindern; wir weisen Sie jedoch darauf hin, dass Sie in diesem Fall
        gegebenenfalls nicht sämtliche Funktionen dieser Website voll umfänglich
        nutzen können. Durch die Nutzung dieser Website erklären Sie sich mit
        der Bearbeitung der über Sie erhobenen Daten durch Google in der zuvor
        beschriebenen Art und Weise und zu dem zuvor benannten Zweck
        einverstanden.
      </p>
    </div>
  </mat-tab>
  <mat-tab label="Datenschutz">
    <div class="content privacy">
      <h1>Datenschutz</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita
        perferendis magni cumque alias quis nam deleniti inventore, quae nemo
        sint deserunt dolore, quod provident mollitia eveniet sequi doloribus.
        Ipsam, cum!
      </p>
    </div>
  </mat-tab>
  <mat-tab label="Nutzungsbedingungen">
    <div class="content terms">
      <h1>Nutzungsbedingungen</h1>
      <p>
        Willkommen bei FHG Online!
      </p>
      <p>
        Diese Nutzungsbedingungen regeln deine Nutzung von FHG Online und den
        von uns angebotenen Produkten, Features, WebApps, Diensten, Technologien
        sowie der Software (der Produkte), außer, wenn wir ausdrücklich
        erklären, dass separate Nutzungsbedingungen (und nicht diese) gelten.
      </p>

      <h2>
        X. Definitionen
      </h2>
      <p>
        Folgendes wird als „Inhalte“ beschrieben: (geteilte) Hausaufgaben,
        (geteilte) Kalendereinträge, Stundenplanänderungen, Kommentare,
        Bearbeitungen, Umfragestimmen
      </p>

      <h2>
        1. Konto
      </h2>

      <h3>
        1.1 Vorrausetzungen
      </h3>
      <p>
        Nicht jeder ist berechtigt, ein FHG Online Konto zu erstellen. Nur
        folgende Personen sind dazu berechtigt, ein FHG Online Konto zu
        erstellen und zu führen:
      </p>
      <ul>
        <li>
          Du bist aktuell Schülerin oder Schüler des Franz-Haniel-Gymnasiums<br />
          ODER<br />
          Du bist aktuell Lehrerin oder Lehrer des Franz-Haniel-Gymnasiums
        </li>
        <li>
          Du besitzt noch keinen Account.
        </li>
      </ul>
      <p>
        Solltest du Zugriff auf dein Konto verloren haben, helfen wir dir gerne
        weiter. Schreibe uns eine E-Mail an
        <a href="mailto:hilfe@fhg-online.de">hilfe@fhg-online.de</a> und wir
        werden dir dabei helfen, wieder Zugriff auf dein Konto zu erhalten.
      </p>
      <p>
        Sollte dein Konto temporär gesperrt oder permanent suspendiert worden
        sein, darfst du kein neues Konto eröffnen.
      </p>
      <p>
        Wir möchten ausdrücklich darauf hinweisen, dass folgende Personen nicht
        berechtigt sind, ein Konto zu eröffnen:
      </p>
      <ul>
        <li>
          Eltern, Freunde, Familienmitglieder oder anderweitig
          Erziehungsberechtigte von Schüler/innen des Franz-Haniel-Gymnasium
        </li>
        <li>
          Schüler/innen, die das Franz-Haniel-Gymnasiums nicht mehr besuchen<br />
          ODER<br />
          Lehrer/innen, die nicht mehr am Franz-Haniel-Gymnasium unterrichten.
        </li>
      </ul>
      <p>
        Schüler/innen, die beurlaubt sind (bspw. wegen Sprachreise,
        Schüleraustausch) aber nach Ablauf ihrer Beurlaubung wieder Unterricht
        am FHG nehmen, dürfen ihren Account bestehen lassen.
      </p>
      <p>
        Austauschschüler/innen, die die Schule nur für einen kurzen, bestimmten
        Zeitraum besuchen, dürfen auch Accounts erstellen.
      </p>
      <p>
        DURCH DAS ERSTELLEN EINES KONTOS STIMMST DU ALLEN BESTIMMUNGEN UND
        BEDINGUNGEN DER NUTZUNGSBEDINGUNGEN AUSNAHMSLOS ZU. DU KANNST DEINE
        ZUSTIMMUNG WIDERRUFEN, INDEM DU DEIN KONTO IN DEN EINSTELLUNGEN DER FHG
        ONLINE APP SCHLIESST. FÜR MEHR INFORMATIONEN ZUR KONTOSCHLIESSUNG SIEHE
        ZIFFER 1.3.
      </p>

      <h3>
        1.2 Accounterstellung
      </h3>
      <p>
        Wenn du dich laut Ziffer 1.1 für die Erstellung eines Kontos
        qualifizierst, musst du auf folgendes bei der Erstellung deines Kontos
        achten:
      </p>
      <ul>
        <li>
          Trage deine eigene iServ-Email Adresse ein.
        </li>
        <li>
          Trage deinen eigenen, richtigen Namen ein.
        </li>
        <li>
          Als Schüler/in der Sekundarstufe I oder Sekundarstufe II (Klasse 5-9)
          darfst du nur deiner eigenen Klasse beitreten. Als Schüler/in der
          Oberstufe (EF, Q1 und Q2) darfst du nur deinen eigenen Kursen sowie
          deiner Stufe beitreten.
        </li>
      </ul>
      <p>
        Das Verschleiern deiner Identität durch die Angabe eines falschen Namens
        ist unzulässig und kann zu Sanktionen führen.
      </p>
      <p>
        Nach Abschluss der Registrierung musst du zur Identitätsprüfung dein
        Konto bestätigen. Dazu loggst du dich unter
        <a href="https://franz-haniel-gymnasium.eu" target="_blank"
          >https://franz-haniel-gymnasium.eu</a
        >
        mit deinen iServ-Login-Daten ein, wählst den Menüpunkt „E-Mail“ und
        klickst den Link in der E-Mail, die du erhalten hast, an.
      </p>

      <h3>
        1.3 Kontoschließung
      </h3>
      <p>
        Um dein Konto zu löschen, musst du dich einloggen und unter
        Einstellungen „Konto löschen“ wählen. Nimm zur Kenntnis, dass ein
        gelöschtes Konto nicht wiederhergestellt werden kann.
      </p>
      <p>
        Alle Schüler/innen sind dazu angehalten, ihr Konto zu löschen, soweit
        sie die Schule verlassen.
      </p>
      <p>
        SCHÜLER/INNEN OHNE KONTO MÜSSEN DER HAUSAUFGABENPLANER-, HAUSAUFGABEN-,
        VORBEREITUNGS- UND INFORMATIONSPFLICHT GENAUSO NACHKOMMEN, WIE NUTZER
        VON FHG ONLINE.
      </p>

      <h4>
        1.3.1 Wann wir ein Konto schließen
      </h4>
      <p>
        In folgenden Fällen schließen wir Konten:
      </p>
      <ul>
        <li>
          Die Schülerin oder der Schüler ist von der Schule abgegangen.
        </li>
        <li>
          Die Lehrkraft übt keine Beschäftigung mehr am Franz-Haniel-Gymnasium
          aus.
        </li>
        <li>
          Die Schülerin oder der Schüler hat gegen die Regeln (s. Ziffer 2.2)
          verstoßen und wir haben uns in Absprache mit der Klassenleitung dazu
          entschieden, das Konto zu sperren oder zu suspendieren (s. Ziffer
          2.1).
        </li>
        <li>
          Erziehungsberechtigte Personen der Schülerin oder des Schülers haben
          die Schließung des Kontos angefragt.
        </li>
        <li>
          Wir behalten uns vor, weitere Fälle hinzuzufügen.
        </li>
      </ul>

      <h4>
        1.3.2 Verbleibende Inhalte
      </h4>
      <p>
        Folgende Inhalte verbleiben vom ehemaligen Kontoinhaber nach einer
        Kontoschließung:
      </p>
      <ul>
        <li>
          Geteilte Inhalte (Hausaufgaben, Stundeplaneinträge, Kalendereinträge)
          <ul>
            <li>
              Der ehemalige Kontoinhaber/die ehemalige Kontoinhaberin hat im
              Falle einer Erstellung eines neuen Kontos keine Bearbeitungsrechte
              für jegliche vorher veröffentlichte Inhalte. Solche Inhalte können
              nur in wichtigen Fällen von der Administration verändert oder
              gelöscht werden.
            </li>
          </ul>
        </li>
        <li>
          Kommentare
        </li>
        <li>
          Bearbeitungen
        </li>
        <li>
          Umfragestimmen
        </li>
      </ul>
      <p>
        Geteilte Inhalte und Kommentare können auf ausdrückliche Anfrage an FHG
        Online nachträglich entfernt werden, Bearbeitungen werden jedoch
        dauerhaft und sind gespeichert (bzw. deren zugehörige Inhalte werden
        nicht auf den Zustand vor der Bearbeitung des ehem. Kontoinhabers
        zurückgesetzt.) Selbiges gilt für abgeschlossene und laufende
        Abstimmungen.
      </p>

      <h2>
        2. Regeln und Verpflichtungen
      </h2>

      <h3>
        2.1 Sanktionen
      </h3>
      <p>
        Sollten Schüler/innen oder Lehrer/innen gegen die Verwendungsregeln (2.2
        und 2.3) handeln, behält sich FHG Online das Recht vor, diese Konten zu
        sanktionieren. Eine Sanktionierung ist nur dann zulässig, wenn sie
        aufgrund einer Handlung im FHG Online-System oder in Zusammenhang mit
        FHG Online ausgesprochen wird. Eine Sanktion kann nicht als Bestrafung
        für anderweitige Vergehen ausgesprochen werden.
      </p>
      <p>
        Sanktionen können temporär, permanent oder auf unbestimmte Zeit
        ausgesprochen werden.
      </p>
      <p>
        Eine temporäre Sanktion verliert ihre Wirkung nach einer zuvor
        festgelegten Zeitspanne oder kann vorzeitig von einer Lehrkraft durch
        Kontaktaufnahme mit FHG Online aufgehoben werden.
      </p>
      <p>
        Eine permanente Sanktion ist dauerhaft und kann nur von einer Lehrkraft
        im Falle einer Anfechtung des Schülers durch Kontaktaufnahme mit FHG
        Online aufgehoben werden.
      </p>
      <p>
        Eine Sanktion auf unbestimmte Zeit währt solange, bis die Lehrkraft eine
        von ihr gestellte Bedingung als erfüllt anerkennt (bspw. Nachsitzen) und
        durch Kontaktaufnahme mit FHG Online die Sanktion aufheben lässt.
      </p>
      <p>
        Sanktionierte Kontoinhaber/innen dürfen ihre Sanktionen bei ihrer
        Klassen-/Stufenleitung anfechten. Es obliegt der Klassen-/Stufenleitung,
        die Anfechtung zu akzeptieren oder abzulehnen. FHG Online hat keine
        Entscheidungsgewalt und wird keine Sanktionen von Konten ohne die
        Zustimmung der zuständigen Lehrkraft entfernen.
      </p>
      <p>
        Es gibt folgende Sanktionen:
      </p>

      <h4>
        2.1.1 Interaktionssperre
      </h4>
      <p>
        Der Kontoinhaber/die Kontoinhaberin verliert die Fähigkeit, mit Inhalten
        zu interagieren.
      </p>

      <h4>
        2.1.2 Kontosperre
      </h4>
      <p>
        Der Kontoinhaber/die Kontoinhaberin verliert Zugriff auf sein FHG Online
        Konto. Das Konto ist jedoch nicht gelöscht und kann entweder nach
        Ablauf/Aufhebung der Sanktion weiterverwendet werden.
      </p>

      <h4>
        2.1.3 Kontosuspendierung
      </h4>
      <p>
        Das Konto wird gelöscht und der Kontoinhaber verliert das Anrecht auf
        ein neues Konto, wie in 1.1 beschrieben. Bei Aufhebung der Sanktion ist
        das Konto nach wie vor gelöscht, jedoch darf der/die Schüler/in ein
        neues Konto erstellen.
      </p>

      <h3>
        2.2 Verwendungsregeln für Schüler/innen
      </h3>
      <p>
        Dem Nichtbefolgen oder Brechen dieser Regeln können Sanktionen (2.1)
        folgen. Außerdem sind FHG Online-externe Sanktionen durch Lehrkräfte
        durch Sanktionierung auf FHG Online nicht automatisch ausgeschlossen.
      </p>

      <h4>
        2.2.1 Sanktionierbare Inhalte
      </h4>
      <p>
        Folgende Inhalte dürfen nicht auf FHG Online geteilt werden:
      </p>
      <ul>
        <li>
          Unangebrachte Inhalte
        </li>
        <li>
          Beleidigende Inhalte
        </li>
        <li>
          Manipulative Inhalte
        </li>
        <li>
          Hasserfüllte Inhalte
        </li>
        <li>
          Diskriminierende Inhalte
        </li>
        <li>
          Volksverhetzende Inhalte
        </li>
        <li>
          Sexistische Inhalte
        </li>
        <li>
          Illegale Inhalte
        </li>
        <li>
          Populistische Inhalte
        </li>
        <li>
          Propaganda
        </li>
        <li>
          Spam
        </li>
        <li>
          Automatisch generierte Inhalte
        </li>
        <li>
          Inhalte, die der SCHULORDNUNG widersprechen
        </li>
        <li>
          moralisch oder ethisch unverantwortliche Inhalte
        </li>
      </ul>

      <h3>
        2.2 Sanktionierbare Taten
      </h3>
      <ul>
        <li>
          Unbefugtes Erstellen eines Kontos
        </li>
        <li>
          Verwenden eines Kontos, das nicht einem selbst gehört
        </li>
        <li>
          Identitätsverschleierung des Kontos
        </li>
        <li>
          Sonstige illegale Taten
        </li>
        <li>
          MANIPULATIVE TATEN
        </li>
        <li>
          Taten, die der SCHULORDNUNG widersprechen
        </li>
        <li>
          moralisch oder ethisch unverantwortliche Taten
        </li>
      </ul>
      <p>
        WIR BEHALTEN UNS VOR, SCHÜLERINNEN UND SCHÜLER, DIE VERSUCHEN DIE REGELN
        GESCHICKT ZU UMGEHEN, DENNOCH ZU SANKTIONIEREN. WIR BEHALTEN UNS VOR,
        KEINE UNSERER ENTSCHEIDUNGEN RECHTFERTIGEN ZU MÜSSEN – SELBIGES GILT FÜR
        ENTSCHEIDUNGEN DIE VON LEHRER/INNEN GETROFFEN UND VON UNS AUSGEFÜHRT
        WERDEN.
      </p>
      <p>
        WIR BEHALTEN UNS VOR, DIE NUTZUNGSBEDINGUNGEN JEDERZEIT UND OHNE HINWEIS
        ZU VERÄNDERN. ES OBLIEGT ALLEN NUTZERN, DIE NUTZUNGSBEDINGUNGEN BEI
        VERWENDUNG VON FHG ONLINE AUFMERKSAM ZU STUDIEREN UND SICH GGF. ÜBER
        VERÄNDERUNGEN ZU INFORMIEREN.
      </p>
    </div>
  </mat-tab>
</mat-tab-group>
