<div class="home">
  <div class="landing">
    <div class="content">
      <img src="assets/logo_white.svg" alt="FHG Online Logo" />
      <h1>FHG Online</h1>
      <p>
        Wir befinden uns momentan in einer geschlossenen Beta-Phase und bereiten
        alles für den offiziellen Start des digitalen Schulplaners vor.
      </p>
    </div>
    <div class="cta">
      <a mat-raised-button routerLink="/login/register" class="register">
        Konto erstellen
      </a>
      <a mat-stroked-button routerLink="/login" class="login">
        Anmelden
      </a>
    </div>
  </div>
</div>
