<div class="toolbar-extention"></div>
<div class="day">
  <div class="header">
    <button mat-icon-button (click)="addDay(-1)">
      <mat-icon>
        chevron_left
      </mat-icon>
    </button>
    <div class="title" [class.active]="isNextDay()" (click)="setNextDay()">
      <h2>{{ getDisplayWeekDay() }}</h2>
      <p>{{ getDisplayFormattedDate() }}</p>
    </div>
    <button mat-icon-button (click)="addDay(1)">
      <mat-icon>
        chevron_right
      </mat-icon>
    </button>
  </div>
  <div class="body">
    <div class="timetable" routerLink="/timetable">
      <div
        class="no-timetable"
        *ngIf="!getTimetable() || !getTimetable().length"
      >
        <p>Für diesen Tag ist noch kein Stundenplan vorhanden</p>
      </div>
      <div class="item" *ngFor="let course of getTimetable()">
        <div class="icon" [class.hasHomework]="hasCourseHomework(course.id)">
          <p>{{ course.lesson }}</p>
        </div>
        <div class="text">
          <p class="subject">{{ course.subject }}</p>
          <p class="room">
            {{ (hasRoomPrefix(course.room) ? 'Raum ' : '') + course.room }}
          </p>
          <p class="time">
            {{ getTime('start', course.lesson) }}
            –
            {{ getTime('end', course.lesson) }}
          </p>
          <p class="teacher">
            {{ course.teacher.title + ' ' + course.teacher.last_name }}
          </p>
        </div>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class="homework">
      <div
        class="no-homework"
        routerLink="/homework"
        *ngIf="!getHomework() || !getHomework().length"
      >
        <mat-icon>mood</mat-icon>
        <p>Keine Hausaufgaben für diesen Tag</p>
      </div>
      <div
        class="item"
        [class.done]="homework.done[assignment.id]"
        [routerLink]="getHomeworkDetailsURL(assignment)"
        *ngFor="let assignment of getHomework()"
      >
        <div class="text">
          <div class="dot"></div>
          <p class="subject">{{ assignment.course.subject }}</p>
          <p class="title">{{ getDisplayCorrTitle(assignment) }}</p>
        </div>
        <mat-checkbox
          (click)="$event.stopPropagation()"
          [checked]="homework.done[assignment.id]"
          (change)="onChangeDone($event, assignment.id)"
        ></mat-checkbox>
      </div>
    </div>
  </div>
</div>
