<mat-tab-group
  mat-stretch-tabs
  color="primary"
  backgroundColor="primary"
  class="tab-nav mat-typography"
  #tabs
>
  <mat-tab label="Impressum">
    <div class="content imprint">
      <h1>Impressum</h1>
      <h2>Angaben gemäß § 5 TMG</h2>
      <p>
        Dennis Adamczyk<br />
        Hardenbergstraße 24<br />
        47198 Duisburg
      </p>
      <h2>Kontakt</h2>
      <p>
        Telefon: <a href="tel:+4917643811166">+49 176 43811166</a><br />
        E-Mail:
        <a href="mailto:ich@dennis-adamczyk.de">ich@dennis-adamczyk.de</a>
      </p>
      <h2>Haftungsausschluss</h2>
      <h3>Haftung für Inhalte</h3>
      <p>
        Die Inhalte unserer Seiten wurden mit größter Sorgfalt erstellt. Für die
        Richtigkeit, Vollständigkeit und Aktualität der Inhalte können wir
        jedoch keine Gewähr übernehmen. Als Diensteanbieter sind wir gemäß § 7
        Abs.1 TMG für eigene Inhalte auf diesen Seiten nach den allgemeinen
        Gesetzen verantwortlich. Nach §§ 8 bis 10 TMG sind wir als
        Diensteanbieter jedoch nicht verpflichtet, übermittelte oder
        gespeicherte fremde Informationen zu überwachen oder nach Umständen zu
        forschen, die auf eine rechtswidrige Tätigkeit hinweisen.
        Verpflichtungen zur Entfernung oder Sperrung der Nutzung von
        Informationen nach den allgemeinen Gesetzen bleiben hiervon unberührt.
        Eine diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt der
        Kenntnis einer konkreten Rechtsverletzung möglich. Bei Bekanntwerden von
        entsprechenden Rechtsverletzungen werden wir diese Inhalte umgehend
        entfernen.
      </p>
      <h3>Haftung für Links</h3>
      <p>
        Unser Angebot enthält Links zu externen Webseiten Dritter, auf deren
        Inhalte wir keinen Einfluss haben. Deshalb können wir für diese fremden
        Inhalte auch keine Gewähr übernehmen. Für die Inhalte der verlinkten
        Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten
        verantwortlich. Die verlinkten Seiten wurden zum Zeitpunkt der
        Verlinkung auf mögliche Rechtsverstöße überprüft. Rechtswidrige Inhalte
        waren zum Zeitpunkt der Verlinkung nicht erkennbar. Eine permanente
        inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne konkrete
        Anhaltspunkte einer Rechtsverletzung nicht zumutbar. Bei Bekanntwerden
        von Rechtsverletzungen werden wir derartige Links umgehend entfernen.
      </p>
      <h3>Urheberrecht</h3>
      <p>
        Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen
        Seiten unterliegen dem deutschen Urheberrecht. Die Vervielfältigung,
        Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der
        Grenzen des Urheberrechtes bedürfen der schriftlichen Zustimmung des
        jeweiligen Autors bzw. Erstellers. Downloads und Kopien dieser Seite
        sind nur für den privaten, nicht kommerziellen Gebrauch gestattet.
        Soweit die Inhalte auf dieser Seite nicht vom Betreiber erstellt wurden,
        werden die Urheberrechte Dritter beachtet. Insbesondere werden Inhalte
        Dritter als solche gekennzeichnet. Sollten Sie trotzdem auf eine
        Urheberrechtsverletzung aufmerksam werden, bitten wir um einen
        entsprechenden Hinweis. Bei Bekanntwerden von Rechtsverletzungen werden
        wir derartige Inhalte umgehend entfernen.
      </p>
      <h3>Google Analytics</h3>
      <p>
        Diese Website benutzt Google Analytics, einen Webanalysedienst der
        Google Inc. ("Google"). Google Analytics verwendet sog. "Cookies",
        Textdateien, die auf Ihrem Computer gespeichert werden und die eine
        Analyse der Benutzung der Website durch Sie ermöglicht. Die durch den
        Cookie erzeugten Informationen über Ihre Benutzung dieser Website
        (einschließlich Ihrer IP-Adresse) wird an einen Server von Google in den
        USA übertragen und dort gespeichert. Google wird diese Informationen
        benutzen, um Ihre Nutzung der Website auszuwerten, um Reports über die
        Websiteaktivitäten für die Websitebetreiber zusammenzustellen und um
        weitere mit der Websitenutzung und der Internetnutzung verbundene
        Dienstleistungen zu erbringen. Auch wird Google diese Informationen
        gegebenenfalls an Dritte übertragen, sofern dies gesetzlich
        vorgeschrieben oder soweit Dritte diese Daten im Auftrag von Google
        verarbeiten. Google wird in keinem Fall Ihre IP-Adresse mit anderen
        Daten der Google in Verbindung bringen. Sie können die Installation der
        Cookies durch eine entsprechende Einstellung Ihrer Browser Software
        verhindern; wir weisen Sie jedoch darauf hin, dass Sie in diesem Fall
        gegebenenfalls nicht sämtliche Funktionen dieser Website voll umfänglich
        nutzen können. Durch die Nutzung dieser Website erklären Sie sich mit
        der Bearbeitung der über Sie erhobenen Daten durch Google in der zuvor
        beschriebenen Art und Weise und zu dem zuvor benannten Zweck
        einverstanden.
      </p>
    </div>
  </mat-tab>
  <mat-tab label="Datenschutz">
    <div class="content privacy">
      <h1>Datenschutz</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita
        perferendis magni cumque alias quis nam deleniti inventore, quae nemo
        sint deserunt dolore, quod provident mollitia eveniet sequi doloribus.
        Ipsam, cum!
      </p>
    </div>
  </mat-tab>
  <mat-tab label="Nutzungsbedingungen">
    <div class="content terms">
      <h1>Nutzungsbedingungen</h1>
      <p>
        Willkommen bei FHG Online!
      </p>
      <p>
        Diese Nutzungsbedingungen regeln deine Nutzung von FHG Online und den
        von uns angebotenen Produkten, Features, Apps, Diensten, Technologien
        sowie der Software (die der Produkte), außer, wenn wir ausdrücklich
        erklären, dass separate Nutzungsbedingungen (und nicht diese) gelten.
      </p>

      <h2>
        1. Allgemeines
      </h2>

      <h3>
        1.1 Zielsetzung
      </h3>
      <p>
        Unser Ziel ist es, allen Schülern die Möglichkeit zu geben, über Ihren
        Erwartungshorizont hinauszuwachsen indem wir sie mit leistungsstarken
        Tools dabei unterstützen. FHG Online ist kein profitorientiertes
        Unternehmen und möchte dich dabei unterstützen, deine schulischen
        Leistungen zu verbessern.
      </p>

      <h3>
        1.2 Unsere Dienste
      </h3>
      <p>
        Mit FHG Online kannst du deinen Schulalltag effizienter denn je planen.
        Du kannst deine Hausaufgaben und Fristen speichern oder auf geteilte
        Ressourcen von anderen Kursteilnehmern zugreifen. Außerdem kannst du auf
        den Ereigniskalender zugreifen, um nie wieder ein wichtiges Event wie
        das Sommerkonzert verpasst! Mit der Stundenplanansicht kannst du deinen
        Tornister packen.
      </p>

      <h3>
        1.3 Unser Versprechen
      </h3>
      <p>
        Wir geben unser Bestes, aus FHG Online das ultimative Werkzeug zur
        Meisterung des Schulalltags zu machen. Dabei werden wir stets unser
        Bestes geben, auf die Schüler zu hören! Wir versprechen, niemals eure
        Daten zu teilen, zu verkaufen oder anderweitigen Dritten zur Verfügung
        zu stellen.
      </p>

      <h2>
        2. Eure Pflichten
      </h2>

      <h3>
        2.1 Pflichten
      </h3>
      <p>
        Wir möchten mit FHG Online eine angenehm zu verwendende Software
        schaffen. Daher FHG Online nur durch die Nutzer getragen wird und auch
        nur mit Nutzern funktioniert, sehen wir uns in der Pflicht, unseren
        Nutzern einige Pflichten aufzuerlegen, damit die Erfahrung für alle
        Nutzer positiv ist und bleibt.
      </p>

      <h3>
        2.2 Wer FHG Online nutzen darf
      </h3>
      <p>
        FHG Online ist ein Service für die Schüler, deren Erziehungsberechtigte
        und Lehrer des Franz-Haniel-Gymnasium, sonst niemanden. Du darfst dich
        nur registrieren, wenn du folgende Bedingungen erfüllst:
      </p>
      <ul>
        <li>
          Du besuchst das Franz-Haniel-Gymnasium als Schüler ODER du bist
          erziehungsberechtigt für eine*n Schüler*in des Franz-Haniel-Gymnasiums
          ODER du bist eine Lehrkraft des Franz-Haniel-Gymnasiums.
        </li>
        <li>
          Du erfüllst die obrige Bedingung aktuell - sprich: du darfst kein
          Konto besitzen, soweit du die Schule noch nicht/nicht mehr
          besuchst/Einhergehendes nicht erfüllt sind.
        </li>
      </ul>
      <p>
        Bitte befolge folgendes bei der Registrierung:
      </p>
      <ul>
        <li>
          Trage deine IServ-E-Mail-Adresse ein. Du wirst sie benötigen, um dein
          Konto zu bestätigen.
        </li>
        <li>
          Trage deinen echten Vor- und Nachnamen ein, keine Künstlernamen o.ä.
        </li>
        <li>
          Gib deine eigene*n Klasse/Kurs an.
        </li>
      </ul>
      <p>
        Solltest du einen Fehler bei der Registrierung begehen (falsche Rolle,
        falsche E-Mail, falscher Name, falsche Klasse) oder dein Passwort
        vergessen, kannst du dich via hilfe@fhgonline.de bei uns melden.
      </p>

      <h3>
        2.3 Verpflichtungen bei Kontoeröffnung
      </h3>
      <p>
        Du stimmst folgenden Bedingungen zu, soweit du ein Konto eröffnest:
      </p>
      <ul>
        <li>
          Du wirst jegliche Interaktion (Erstellen, Ansehen, Bearbeiten,
          Kommentieren von Inhalten, etc.) nach bestem Willen ausüben. D.h.: Du
          wirst keine unpassende, irrelevante, störende, illegale,
          diskriminierende oder andere unschickliche Inhalte publizieren. Spam
          fällt auch unter diese Regelung
        </li>
        <li>
          Selbiges gilt für deine nur für dich einsehbare Inhalte.
        </li>
      </ul>
    </div>
  </mat-tab>
</mat-tab-group>
