<header>
  <h1>
    {{ title }}
    <mat-icon>chevron_right</mat-icon>
    Kurse
  </h1>
  <div class="actions">
    <button
      mat-icon-button
      matTooltip="Hinzufügen"
      routerLink="/admin/course/add"
    >
      <mat-icon>add</mat-icon>
    </button>
  </div>
</header>
<div class="body">
  <div class="loading" *ngIf="isLoading && !offline">
    <mat-spinner diameter="32"></mat-spinner>
  </div>
  <app-offline *ngIf="offline"></app-offline>
  <div
    class="add"
    *ngIf="!single.data.length && !multi.data.length && !isLoading"
  >
    <p>Es sind noch keine Kurse für die {{ title }} vorhanden.</p>
    <button mat-button color="primary" routerLink="/admin/course/add">
      <mat-icon>add</mat-icon>
      <span>Hinzufügen</span>
    </button>
  </div>
  <section class="single" [class.hidden]="!single.data.length" *ngIf="!offline">
    <h4>Einzelkurse</h4>
    <table
      mat-table
      [dataSource]="single"
      #singleSort="matSort"
      matSort
      matSortActive="name"
      matSortDisableClear
      matSortDirection="asc"
    >
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>

      <!-- Subject Column -->
      <ng-container matColumnDef="subject">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Fach</th>
        <td mat-cell *matCellDef="let element">{{ element.subject }}</td>
      </ng-container>

      <!-- Teacher Column -->
      <ng-container matColumnDef="teacher">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Lehrer</th>
        <td mat-cell *matCellDef="let element">{{ element.teacher }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns"
        [routerLink]="'/admin/course/' + row.name"
      ></tr>
    </table>

    <mat-paginator
      #singlePaginator
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 25, 50]"
    ></mat-paginator>
  </section>
  <section class="multi" [class.hidden]="!multi.data.length" *ngIf="!offline">
    <h4>Multikurse</h4>
    <table
      mat-table
      [dataSource]="multi"
      #multiSort="matSort"
      matSort
      matSortActive="name"
      matSortDisableClear
      matSortDirection="asc"
    >
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>

      <!-- Subject Column -->
      <ng-container matColumnDef="subject">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Fach</th>
        <td mat-cell *matCellDef="let element">{{ element.subject }}</td>
      </ng-container>

      <!-- Teacher Column -->
      <ng-container matColumnDef="teacher">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Lehrer</th>
        <td mat-cell *matCellDef="let element">{{ element.teacher }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns"
        [routerLink]="'/admin/course/' + row.name"
      ></tr>
    </table>

    <mat-paginator
      #multiPaginator
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 25, 50]"
    ></mat-paginator>
  </section>
</div>
