@import ~@angular/material/theming

+mat-core

@import ./themes/light-theme.sass
@import ./themes/dark-theme.sass

+angular-material-theme($light-theme)

.light-theme
    +angular-material-theme($light-theme)

.dark-theme
    +angular-material-theme($dark-theme)

html, body
    height: 100%

body
    margin: 0
    padding: 0
    font-family: Roboto, 'Helvetica Neue', sans-serif

*:focus
    outline: none

mat-icon
    user-select: none
