<div class="login">
  <div class="title">
    <p class="maintitle">FHG Online</p>
    <p class="subtitle">- Dein Online Schulplaner -</p>
  </div>
  <form [formGroup]="loginForm" *ngIf="!relogged" class="relog">
    <mat-form-field hideRequiredMarker class="email">
      <mat-label>E-Mail</mat-label>
      <input
        matInput
        type="text"
        placeholder="vorname.nachname"
        formControlName="email"
        autocorrect="off"
        autocapitalize="none"
        trim
        required
        readonly
      />
      <p matSuffix>{{ constant.displayedEmailSuffix }}</p>
    </mat-form-field>
    <p class="info">
      Bestätige deine Identität, bevor du fortfährst:
    </p>
    <mat-form-field hideRequiredMarker>
      <mat-label>Passwort</mat-label>
      <input
        (keyup.enter)="submit(); (false)"
        matInput
        [type]="showPassword ? 'text' : 'password'"
        formControlName="password"
        required
      />
      <mat-icon
        mat-icon-button
        matSuffix
        (click)="showPassword = !showPassword"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="showPassword"
        class="passwordVisibility"
        >{{ showPassword ? 'visibility_off' : 'visibility' }}</mat-icon
      >
      <mat-error *ngIf="password.invalid">{{
        getPasswordErrorMessage()
      }}</mat-error>
    </mat-form-field>
    <div class="forgotPassword">
      <a (click)="forgotPassword()">Passwort vergessen?</a>
    </div>
    <div id="recaptcha-container"></div>
    <div class="buttons">
      <button type="button" mat-button class="abort" (click)="navigateBack()">
        Abbrechen
      </button>
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="loginForm.invalid"
        class="submit"
        (click)="submit()"
      >
        <ng-container *ngIf="loading">
          <mat-spinner [diameter]="24"></mat-spinner>
        </ng-container>
        <ng-container *ngIf="!loading">
          Weiter
        </ng-container>
      </button>
    </div>
  </form>
  <form [formGroup]="passwordForm" *ngIf="relogged" class="changePassword">
    <div class="info">
      Wähle ein starkes Passwort aus, das du nicht für ein anderes Konto
      verwendest.<br />
      Wenn du das Passwort änderst, wird du auf deinen Geräten abgemeldet. Du
      musst das neue Passwort eingeben, wenn du dich wieder anmeldest.
    </div>
    <mat-form-field hideRequiredMarker>
      <mat-label>Neues Passwort</mat-label>
      <input
        matInput
        [type]="showPassword1 ? 'text' : 'password'"
        formControlName="password1"
        required
      />
      <mat-icon
        mat-icon-button
        matSuffix
        (click)="showPassword1 = !showPassword1"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="showPassword"
        class="passwordVisibility"
        >{{ showPassword1 ? 'visibility_off' : 'visibility' }}</mat-icon
      >
      <mat-error *ngIf="password1.invalid">{{
        getPassword1ErrorMessage()
      }}</mat-error>
    </mat-form-field>
    <mat-form-field hideRequiredMarker>
      <mat-label>Neues Passwort wiederholen</mat-label>
      <input
        (keyup.enter)="submitPassword(); (false)"
        matInput
        [type]="showPassword2 ? 'text' : 'password'"
        formControlName="password2"
        required
      />
      <mat-icon
        mat-icon-button
        matSuffix
        (click)="showPassword2 = !showPassword2"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="showPassword"
        class="passwordVisibility"
        >{{ showPassword2 ? 'visibility_off' : 'visibility' }}</mat-icon
      >
      <mat-error *ngIf="password2.invalid">{{
        getPassword2ErrorMessage()
      }}</mat-error>
    </mat-form-field>
    <div class="buttons">
      <button type="button" mat-button class="abort" (click)="navigateBack()">
        Abbrechen
      </button>
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="loginForm.invalid"
        class="submit"
        (click)="submitPassword()"
      >
        <ng-container *ngIf="loading">
          <mat-spinner [diameter]="24"></mat-spinner>
        </ng-container>
        <ng-container *ngIf="!loading">
          Ändern
        </ng-container>
      </button>
    </div>
  </form>
</div>
